.QuestionApp-header {
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background: blue;
}

.QuestionApp-link {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.counter {
  color: white;
}
